.postCard {
    clear: both;
    background: #fff;
    margin: 0 0 20px 0;
    overflow: hidden;
    padding: 20px 20px 10px 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 8px 0px #ccc;

    display: flex;
    flex-direction: row;
}

.cardBodyContainer {
    margin-left: 20px;
}

.postCardTitle {
    font-size: 22px;
    font-weight: 100;
    margin-bottom: 0;
}

.postCardTitle a {
    color: black;
}
    

.postCardDate {
    font-size: 14px;
    font-style: italic;
}

.postList {
    padding: 0;
    list-style-type: none;
}

/* Disable the xl- part of boostrap */
@media (min-width: 992px) {
  .maxWidthContainer {
    max-width: 960px;
  }
}
