
.footnoteContainer {
    display: inline;
    counter-increment: footnote;
}

.footnoteContainer .footnote {
    float: right;
    clear: right;
    position: relative;
    margin-right: -53%;
    width: 45%;
    padding-top: 0;
    font-size: 16px;
    opacity: 0.8;
}

.footnoteContainer .footnote:before {
    content: counter(footnote);
    vertical-align: super;
    font-size: 80%;
    padding-right: 0.7em;
}

.footnoteContainer .footnoteNumber:after {
    content: counter(footnote);
    vertical-align: super;
    font-size: 60%;
}

.footnoteContainer .marginToggle {
    display: none;
}

@media (max-width: 992px) {
    .footnoteContainer .footnote {
        display: none;
    }

    .footnoteContainer .marginToggle:checked + .footnote {
        display: block;
        float: left;
        position: relative;
        clear: both;
        width: 95%;
        margin-left: 2em;
        margin-right: 0;
    }

    .footnoteContainer .footnoteNumber:after {
        content: "⊕";
        font-size: inherit;
        vertical-align: inherit;
        padding-left: 0.2em;
        padding-rigth: 0.2em;
    }

    .footnoteContainer .footnoteNumber:hover {
        cursor: pointer;
    }
        
    .footnoteContainer .footnote:before {
        content: none;
    }
}
