.bodyContainer {
    position: absolute;
    top: 70px;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

.articleContainer {
    padding-top: 3em;
    padding-bottom : 2em ;
    max-width : 800px;
}

.blogNavbarContainer {
    max-width: 800px;
}

.lastUpdatedDate {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 14px;
    font-style: italic;
    color: #666;
    font-family: "Open Sans", sans-serif;
}

.articleEntryContent {
    font-family: 'EB Garamond', serif;
    font-size : 22px ;
}

.articleEntryContent code {
    color: #555;
    font-size: 75%;
}


.articleEntryContent blockquote {
    border-left: 4px solid #eee;
    padding-left: 2em;
    font-size: 0.9em;
}

.articleEntryContent pre {
    padding: 9.5px;
    margin: 0 0 1rem;
    font-size: 13px;
    line-height: 1.43;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.articleEntryContent pre code {
    color: #555;
    font-size: 100%;
}

.articleEntryContent h2 {
    padding-top: 0.4em;
}

.articleEntryContent a {
    text-decoration: none;
}

.articleEntryContent a:hover {
    text-decoration: underline;
}

.relatedNotes {
    padding-top: 1.5em;
    font-family: "Open Sans", sans-serif;
}

.relatedNotesHeader {
    margin-bottom: 0.8em;
    text-align: center;
}

.footnoteContainer {
    display: inline;
}

.footnoteContainer :global(.footnote) {
    float: right;
    clear: right;
    position: relative;
    margin-right: -38%;
    width: 33%;
    padding-top: 0;
    font-size: 16px;
    opacity: 0.8;
}

.footnoteContainer :global(.footnote):before {
    content: counter(footnote);
    vertical-align: super;
    font-size: 80%;
    padding-right: 0.7em;
}

.footnoteContainer :global(.footnote-number) {
    counter-increment: footnote;
}

.footnoteContainer :global(.footnote-number):after {
    content: counter(footnote);
    vertical-align: super;
    font-size: 60%;
}

.footnoteContainer :global(input.margin-toggle) {
    display: none;
}

@media (max-width: 1420px) {
    .footnoteContainer :global(.footnote) {
        display: none;
    }

    .footnoteContainer :global(.margin-toggle):checked + :global(.footnote) {
        display: block;
        float: left;
        position: relative;
        clear: both;
        width: 95%;
        margin-left: 2em;
        margin-right: 0;
    }

    .footnoteContainer :global(.footnote-number):after {
        content: "⊕";
        font-size: inherit;
        vertical-align: inherit;
        padding-left: 0.2em;
        padding-rigth: 0.2em;
    }

    .footnoteContainer :global(.footnote-number):hover {
        cursor: pointer;
    }
        

    .footnoteContainer :global(.footnote):before {
        content: none;
    }
}
